*.log
__pycache__/
*.pkl
bin
notebooks/.ipynb_checkpoints/
*.swp
scripts/pingviewer-x86_64.AppImage
*.pyc
*.avi
/records/*
/people/
/mono_crash*
*.mp4
/installs/pyueye-3.50-3.70/*
/installs/uEye_Linux_350_64Bit/*
